---
---

$nav-background: #fff;
$nav-font: #24292e;

$jumbotron-background: #fff;
$jumbotron-font: #445875;

body {
  font-family: 'Alice', serif;
}

h1 {
  font-family: 'Sacramento', cursive;
}

#bd-main-nav {
  display: inline-block;
  margin: 0 auto;
}

.navbar-nav .nav-item .nav-link {
  padding-right: .5rem;
  padding-left: .5rem;
  color: $nav-font;
  opacity: 0.5;
}

.bd-navbar .navbar-nav .nav-link.active, .bd-navbar .navbar-nav .nav-link:hover, .navbar-brand, .navbar-brand:hover {
  color: $nav-font;
  background-color: transparent;
  opacity: 1;
}

.navbar-brand {
  margin-right: 0rem;
} 

.jumbotron {
  border-radius: 0rem;
  background-color: $jumbotron-background;
  color: $jumbotron-font;
}

.jumbotron.image {
  background-image: url("/boilerplate/images/milky-way-923801_1280.jpg");
  background-size: cover;
}
