
<header class="navbar navbar-dark navbar-toggleable-md bd-navbar">
  <nav class="container text-center">
    <a class="navbar-brand" href="{{ site.url }}">
      {{ site.name }}
    </a>
    
    <div class="navbar-nav-scroll" id="bd-main-nav">
      <ul class="navbar-nav bd-navbar-nav flex-row">
        <li class="nav-item">
          <a class="nav-link{% if page.url == '/' %} active{% endif %}" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if page.url == '/our-story' %} active{% endif %}" href="/our-story">Our Story</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if page.url == '/the-wedding' %} active{% endif %}" href="/the-wedding">The Wedding</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if page.url == '/getting-there' %} active{% endif %}" href="/getting-there">Getting There</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div class="jumbotron">
  <div class="container text-center">
    <h1>{{ site.name }}</h1>
    <p class="lead">Please join us for our wedding on {{ site.date }}</p>
  </div>
</div>
