<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}
  <body>
    {% include nav.html %}
    <div class="jumbotron">
      <div class="container text-center">
        <h1>{{ page.title }}</h1>
        <p class="lead">{{ page.sub-title }}</p>
        <p class="sub-lead">Please join us for our wedding on {{ site.date }}</p>
      </div>
    </div>
    
    <div class="container my-5">
      {{ content }}
    </div>

  {% include footer.html %}
  {% include scripts.html %}
  
  </body>
</html>
